@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Antonio", sans-serif !important;
    color: #080708 !important;
    background-color: #FEFAE0;
}

.contant {
    opacity: 0;
    scale: 0.5;
    height: 90vh;
}

.navbar {
    z-index: 999;
    background: #ffffff00;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff4d;
    height: 10vh;
}

.link_text {
    display: inline-block !important;
}

.link_text span {
    display: inline-block !important;
}

#counter {
    font-size: 150px;
    font-weight: 800;
    font-family: "Rubik Mono One", monospace;
    color: #BC6C25;
}

.box {
    z-index: 9999;
    width: 100vw;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
}

.box1 {
    width: 100vw;
    height: 50%;
    background-color: #080708;
    position: absolute;
    top: 0;
    left: 0;
}

.box2 {
    width: 100vw;
    height: 50%;
    background-color: #080708;
    position: absolute;
    bottom: 0;
    left: 0;
}

.heading {
    height: 90%;
    position: relative;
}

.magnet {
    cursor: none;
}

.hasan {
    font-family: "Caveat Brush", cursive;
    font-weight: 500;
    font-size: 4rem;
}

.center-me {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
    width: auto;
    height: 100%;
}

.image img {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translatex(-50%) !important;
    width: 19vw;
    height: auto;
    object-fit: contain;
    transition: all 0.2s linear;
    z-index: 1;
    cursor: none;
    filter: drop-shadow(0 0 10px #FEFAE0);
}

.mask {
    position: initial;
}

.circle {
    background-color: #BC6C25 !important;
    font-family: "Caveat Brush", cursive;
    font-size: 1.3rem;
    font-weight: 400;
}

.head-text {
    font-family: "Rubik Mono One", monospace;
    font-size: 7vmax;
    letter-spacing: 1px;
    line-height: 8vw;
    color: #BC6C25;
    z-index: 1;
    transition: color 0.3s linear;
}

.head-text:hover {
    color: #080708;
}

.text_media {
    cursor: none;
    position: relative;
}

.main-color {
    color: #BC6C25 !important;
}

.glass-card {
    height: 240px;
    width: 200px;
    position: absolute;
    top: 31%;
    left: 15%;
    background: #ffffff33;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff4d;
    overflow: hidden;
    transform-origin: center center;
    transition: all 0.2s linear;
    z-index: 2;
}

.glass-card .body-card {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/images/Open\ Peeps\ -\ Avatar\ \(1\).png);
}

.glass-card2 {
    height: 240px;
    width: 200px;
    position: absolute;
    bottom: 18%;
    right: 13%;
    background: #ffffff33;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff4d;
    overflow: hidden;
    transform-origin: center center;
    transition: all 0.2s linear;
    z-index: 2;
}

.glass-card2 .body-card {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/images/Open\ Peeps\ -\ Avatar\ \(1\)R.png);
}

.hello-ico {
    filter: drop-shadow(0px 0px 8px #080708);
}

.sub-head {
    transition: all 0.3s linear;
}

.sub-head:hover {
    color: #BC6C25;
}

#projects {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-head {
    font-family: "Rubik Mono One", monospace;
    font-size: 4vmax;
    color: #080708;
    z-index: 1;
    transition: color 0.3s linear;
}

.project-head:hover {
    color: #BC6C25;
}

.project-img {
    width: auto;
    height: 150px;
    position: absolute;
    top: -50% !important;
    opacity: 0;
    rotate: 15deg;
    scale: 0.5;
    z-index: 2;
    border-radius: .5vw;
    cursor: none;
    filter: drop-shadow(0px 0px 5px #08070880);
}

.project {
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
    flex: 1 1 auto;
}

.project:hover {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
    background-color: #bc6b2538;
}

.project h3,
h4 {
    margin: 0;
}